<?xml version="1.0"?>
<config>
	<modules>
		<Learn_Snowfall>
			<version>1.0.0</version>
		</Learn_Snowfall>
	</modules>
	<global>
		<helpers>
			<snowfall>
				<class>Learn_Snowfall_Helper</class>
			</snowfall>
		</helpers>
		<blocks>
			<snowfall>
				<class>Learn_Snowfall_Block</class>
			</snowfall>
		</blocks>
		<models>
			<snowfall>
				<class>Learn_Snowfall_Model</class>
			</snowfall>
		</models>
	</global>
	<frontend>
		<layout>
			<updates>
				<snowfall>
					<file>learn/snowfall.xml</file>
				</snowfall>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
        <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <snowfall translate="title" module="snowfall">
                                            <title>Snowfall Settings</title>
                                            <sort_order>50</sort_order>
                                        </snowfall>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<snowfall>
					<file>learn/snowfall.xml</file>
				</snowfall>
			</updates>
		</layout>
    </adminhtml>
	<default>
		<snowfall>
			<settings>
				<snowfall_active>1</snowfall_active>
				<snowfall_text>1*A</snowfall_text>
				<snowfall_color_1>000000</snowfall_color_1>
				<snowfall_color_2>f20000</snowfall_color_2>
				<snowfall_color_3>ffffff</snowfall_color_3>
				<snowfall_color_4>e2e2e2</snowfall_color_4>
				<snowfall_color_5>f1f1e2</snowfall_color_5>
				<snowfall_count>35</snowfall_count>
				<snowfall_speed>2</snowfall_speed>
				<snowfall_minsize>10</snowfall_minsize>
				<snowfall_maxsize>50</snowfall_maxsize>
			</settings>
		</snowfall>
	</default>
</config>