<?xml version="1.0"?>

<config>
	<tabs>
        <myconf_vijaystore translate="label">
            <label>Snowfall</label>
            <sort_order>50</sort_order>
        </myconf_vijaystore>
    </tabs>
	<sections>
		<snowfall translate="label" module="snowfall">
			<label>Snowfall Settings</label>
			<tab>myconf_vijaystore</tab>
			<sort_order>140</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label" module="snowfall">
					<label>Snowfall Settings</label>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<snowfall_active translate="label comment">
							<label>Snowfall enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<validate>required-entry </validate>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_active>
						<snowfall_text translate="label comment">
							<label>Snowfall symbol</label>
							<frontend_type>radios</frontend_type>
							<source_model>snowfall/snowfall_symbol</source_model>
							<!-- <validate>required-entry </validate> -->
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_text>
						<snowfall_color_1 translate="label comment">
							<label>Snowfall color 1</label>
							<comment></comment>
							<frontend_type>text</frontend_type>
							<frontend_model>snowfall/adminhtml_system_config_color</frontend_model>
							<validate>required-entry </validate>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_color_1>
						<snowfall_color_2 translate="label comment">
							<label>Snowfall color 2</label>
							<comment></comment>
							<frontend_type>text</frontend_type>
							<frontend_model>snowfall/adminhtml_system_config_color</frontend_model>
							<sort_order>30</sort_order>
							<validate>required-entry </validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_color_2>
						<snowfall_color_3 translate="label comment">
							<label>Snowfall color 3</label>
							<comment></comment>
							<frontend_type>text</frontend_type>
							<validate>required-entry </validate>
							<frontend_model>snowfall/adminhtml_system_config_color</frontend_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_color_3>
						<snowfall_color_4 translate="label comment">
							<label>Snowfall color 4</label>
							<comment></comment>
							<frontend_type>text</frontend_type>
							<validate>required-entry </validate>
							<frontend_model>snowfall/adminhtml_system_config_color</frontend_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_color_4>
						<snowfall_color_5 translate="label comment">
							<label>Snowfall color 5</label>
							<comment></comment>
							<frontend_type>text</frontend_type>
							<validate>required-entry </validate>
							<frontend_model>snowfall/adminhtml_system_config_color</frontend_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_color_5>
						<snowfall_count translate="label comment">
							<label>Snowfall count</label>
							<comment><![CDATA[More than 30 - 40 not recommended.]]></comment>
							<validate>required-entry </validate>
							<frontend_type>text</frontend_type>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_count>
						<snowfall_speed translate="label comment">
							<label>Speed of snowfall</label>
							<comment><![CDATA[Recommended values range from 0.3 to 2]]></comment>
							<validate>required-entry </validate>
							<frontend_type>text</frontend_type>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_speed>
						<snowfall_minsize translate="label comment">
							<label>Minimum flake size</label>
							<comment><![CDATA[Default: 10]]></comment>
							<validate>required-entry </validate>
							<frontend_type>text</frontend_type>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_minsize>
						<snowfall_maxsize translate="label comment">
							<label>Maximum flake size</label>
							<validate>required-entry</validate>
							<comment><![CDATA[Default: 50]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_maxsize>
					</fields>
				</settings>
			</groups>
		</snowfall>
	</sections>
</config>